<footer>
<p>
<span id="last-updated">
Last updated {{ site.time | date: "%b %-d, %Y" }}
</span>
<ul class="social">
{% if site.twitter_username %}
  <li>
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter"></i>{{site.twitter_username}}
    </a>
  </li>
{% endif %}

{% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github"></i>{{site.github_username}}
    </a>
  </li>
{% endif %}

{% if site.linkedin_username %}
  <li>
    <a href="https://linkedin.com/in/{{ site.linkedin_username }}">
      <i class="fa fa-linkedin"></i>{{site.linkedin_username}}
    </a>
  </li>
{% endif %}

{% if site.facebook_username %}
  <li>
    <a href="https://www.facebook.com/{{ site.facebook_username }}">
      <i class="fa fa-facebook"></i>{{site.facebook_username}} </a> 
    </a>
  </li>
{% endif %}

{% if site.instagram_username %}
  <li>
    <a href="https://www.instagram.com/{{ site.instagram_username }}">
      <i class="fa fa-instagram"></i>{{site.instagram_username}} </a> 
    </a>
  </li>
{% endif %}
</ul>
</p>
</footer>
