---
layout: default
---

<div id="main" class="container">
<header>
<h2>{{ page.title }}</h2>
</header>

<p id="meta">
<time>{{ page.date | date: "%b %-d, %Y" }}</time>
{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
</p>


{{ content }}

<div id='discourse-comments'></div>

<script type="text/javascript">
  DiscourseEmbed = { discourseUrl: 'http://discourse.jamwheeler.com/',
                     discourseEmbedUrl: '{{site.url}}{{page.url}}',
                     localURL: 'localhost:4000/assets/' };

  (function() {
    var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
    d.src = 'http://jamwheeler.com/assets/discourse.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
  })();
</script>



</div>
